name: Build
on:
 push:
   branches:
     - master
 pull_request:
   types: [opened, synchronize, reopened]
jobs:
  sonarqube:
    name: SonarQube
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@671cf105a63fc1ef5e7b0f1d77c9952b186d6283
        with:
          fetch-depth: 0 
      - name: Install dependencies
        run: npm install
      - name: Test and coverage
        run: npm run test:coverage
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@671cf105a63fc1ef5e7b0f1d77c9952b186d6283
        env:
          SONAR_TOKEN: ${{ secrets. SONARCLOUD_TOKEN }}